{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "chrome": 49
                },
                "useBuiltIns": true
            }
        ],
        "stage-0"
    ]
}