{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "chrome": 49
                },
                "include": ["transform-es2015-classes"]
            }
        ],
        "stage-0",
        "flow"
    ],
    "plugins": ["transform-decorators-legacy", ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]],
    "env": {
        "test": {
            "presets": [["env", {
                "targets": {"node": "current"},
                "include": ["transform-es2015-classes"]
            }], "stage-0", "react"],
            "plugins": ["transform-decorators-legacy"]
        },
        "commonjs": {
            "plugins": [
                "istanbul",
                ["transform-es2015-modules-commonjs", { "loose": true }]
              ]
        }
    }
}
