{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "chrome": 49
                },
                "include": ["transform-es2015-classes"]
            }
        ],
        "stage-0"
    ],
    "env": {
        "test": {
            "presets": ["env", "stage-0"],
            "plugins": ["transform-decorators-legacy"]
        }
    }
}
